<app-header></app-header>
<div class="container">
    <h2>Liste des Schtroumpfs</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nom de Schtroumpf</th>
          <th>Rôle</th>
          <th>Ajouter ami</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of Schroumpfs ">
          <td>{{ user.username }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="(addFriend(user))">Ajouter</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  